<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina principal</title>
</head>
<body>
  <header>
    <img src="assets/imgs/megafono.png" alt="" class="imagen"> <h1 class="titulo">VGB Safe</h1>
    <div class="menu">
      <nav>
        <ul>
          <li class="menu-centrado"><a (click)="goTo('/');">Inicio</a></li>
          <li class="menu-centrado"><a (click)="goTo('/forum'); Forovisitas() ">Foro</a></li>
          <li class="menu-centrado"><a (click)="goTo('/info');Aboutusvisitas() ">Sobre Nosotros</a></li>
          <li class="menu-centrado"><a (click)="goTo('/register'); Registervisitas()">Registro</a></li>
          <li class="menu-centrado"><a (click)="goTo('/login');Loginvisitas() ">Login</a></li>
          <li class="menu-centrado"><a (click)="goTo('/stats');Statsvisitas() ">Estadistica</a></li>
        </ul>
      </nav>
    </div>
  </header>

</body>
<hr style="height:60px; visibility:hidden;" />


</html>
<router-outlet></router-outlet>

