#{ ¨
padding: 0;
margin:0;
box-sizing: border-box;}
body{
    background-color: #4d82bc;
    width: 100%;
    clear: both;
    content: '';
    display: table;
    }
.menu¨{
    width: 900px;
    margin: 0 auto;
}
img{
    width: 120px;
    
}