body{
    background-color:#4d82bc;
    margin-top: 5%;
    margin-left: 5%;
}
.color{
    background-color: cornflowerblue;
    margin-top: 0%;
    margin-bottom: 3%;
    margin-left: 3px;
    margin-right: 6%;
}
.cuadrito{
    margin-left: 47%;
}
