body {
  background-color: #4d82bc;
  margin-left: 5%;
  width: 101%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-height: 100vh
}
.color{
    background-color: cornflowerblue;
    margin-top: 0%;
    margin-bottom: 3%;
    margin-left: 3px;
    margin-right: 6%;
}
.cuadrito{
    margin-left: 47%;
}
