<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="modulo-info.component.css">
    <title>Sobre Nosotros </title>
</head>
<body>
    <h1 class="titulo">Sobre nosotros</h1>
    <div class="cuadradadito">
        <h3 >Somos de la escuela PRoA Villa General Belgrano de 5 año.</h3>
        <h3><u>Miembros del grupo:</u></h3>
            <h2>●Owen Andrés Garetto</h2>
            <!--https://www.youtube.com/watch?v=dQw4w9WgXcQ-->
            <h2>●Francisco Nardelli Castroviejo</h2> 
            <h2>●María Virginia Ayala Cisneros</h2> 
            <h2>●Carlos Lautaro Lazarte</h2> 
            <h2>●Nicolás Guillot</h2>
    
        <h3 class="sangria">División de tareas: Para la realización del sitio web separamos el proyecto en 4 divisiones:

            -HTML, conformada por Carlos L. Lazarte y Nicolás Guillot, división encargada de estructurar el sitio -CSS, conformada por M. Virginia Ayala Cisneros, división encargada del apartado visual del sitio -Backend, conformada por Francisco Nardelli Castroviejo y Owen A. Garetto, división encargada de la funcionalidad del sitio</h3>
            <a href="https://github.com/OwenGarett0/Trabajo-final-Capacitaciones-Que-Emplean">Repositorio de GitHub: https://github.com/OwenGarett0/Trabajo-final-Capacitaciones-Que-Emplean</a>
      <video width="320" height="240" controls>
        <source src="assets/imgs/video.mp4" type="video/mp4">
      </video>


    </div>
        <img src="assets/imgs/proa.jpg" >
    
    </body>
</html>
