body {
  background-color: #4d82bc;
  text-decoration: none;
  width: 101%;
  height: 100%;
  margin: -10px;
  padding: 0px;
  overflow-x: hidden;
  min-height: 100vh
}
.titulo{
    background-color: #73a1d1;
    padding: 1%;
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1%;
    border-radius: 1%;
    text-align: center;
    }
.cuadradadito{
    background-color: #73a1d1;
    padding: 1%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1%;
    border-radius: 1%;
}
.imagen{
    text-align: center;
    margin-left: 45%;
    margin-top: 25%;
}
.sangria{
    text-align: justify;
}
