
<body>
  <br><br><br><br>
  <div class="color">
    <h1>Registro</h1>
    <input [(ngModel)]="user" placeholder="Nombre de usuario" /><br>
    <input [(ngModel)]="email" placeholder="Correo electrónico" /><br>
    <input [(ngModel)]="pass" type="password" placeholder="Contraseña" /><br>
    <input [(ngModel)]="passcom" type="password" placeholder="Confirmar contraseña" /><br>
    <button (click)="validarFormulario()">Registrarse</button>
    <button (click)="goLogin()">Logearse</button>
    <div *ngIf="regerror">Registro fallido</div>

  </div>
</body>
