
    <!DOCTYPE html>
    <html>
    <head>
      <title>Registro de cuenta</title>
    </head>
    <body>
      <br><br><br><br><br>
      <h2>Registro de cuenta</h2>

    <div class="color">
      <h1>Incio de sesión</h1>
      <h3>Ingrese su nombre</h3>
      <input [(ngModel)]="user" placeholder="Nombre de usuario" />
      <input [(ngModel)]="email" placeholder="Correo electrónico" />
      <input [(ngModel)]="pass" type="password" placeholder="Contraseña" />
      <input [(ngModel)]="passcom" type="password" placeholder="Confirmar contraseña" />
      <button (click)="validarFormulario()">Iniciar sesión</button>
      <div *ngIf="regerrror">Autenticación fallida</div>
      <button (click)="goLogin()">Logearse</button>

  </div>
    </body>
</html>
